.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modalPosition {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  z-index: 11;
}

.modalContainer {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

.modal {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

.wrapperDate :global(.react-datepicker__input-container) {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

