.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
}

.item {
  width: 200px;
  height: 200px;
}

.item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
